/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  @-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.contact {
	.info {
		border-top: 3px solid #47b2e4;
		border-bottom: 3px solid #47b2e4;
		padding: 30px;
		background: #fff;
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
		i {
			font-size: 20px;
			color: #47b2e4;
			float: left;
			width: 44px;
			height: 44px;
			background: #e7f5fb;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: #37517e;
		}
		p {
			padding: 0 0 10px 60px;
			margin-bottom: 20px;
			font-size: 14px;
			color: #6182ba;
		}
		.email {
			p {
				padding-top: 5px;
			}
			&:hover {
				i {
					background: #47b2e4;
					color: #fff;
                    cursor: pointer;
				}
			}
		}
		.social-links {
			padding-left: 60px;
			a{
				display: inline-block;
				margin-right: 5px;
				i {
					&:hover {
						background: #209dd8;
						color: #fff;
						cursor: pointer;
					}
				}
			}
		}
		.address {
			&:hover {
				i {
					background: #47b2e4;
					color: #fff;
                    cursor: pointer;
				}
			}
		}
		.phone {
			&:hover {
				i {
					background: #47b2e4;
					color: #fff;
                    cursor: pointer;
				}
			}
		}
	}
	.formulaire {
		width: 100%;
		border-top: 3px solid #47b2e4;
		border-bottom: 3px solid #47b2e4;
		padding: 30px;
		background: #fff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		.form-group {
			padding-bottom: 8px;
			margin-bottom: 20px;
		}
		.validate {
			display: none;
			color: rgb(236, 109, 109);
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}
		.error-message {
			display: none;
			color: #fff;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br {
				+ {
					br {
						margin-top: 25px;
					}
				}
			}
		}
		.sent-message {
			display: none;
			color: #fff;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: #eee;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		label {
			padding-bottom: 8px;
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			border-radius: 4px;
			height: 44px;
			&:focus {
				border-color: #47b2e4;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			border-radius: 4px;
			padding: 10px 12px;
			&:focus {
				border-color: #47b2e4;
			}
		}
		button[type="submit"] {
			background: #47b2e4;
			border: 0;
			padding: 12px 34px;
			color: #fff;
			transition: 0.4s;
			border-radius: 50px;
			&:hover {
				background: #209dd8;
			}
		}
	}
	
}


